input {
  border-style: solid;
  border-color: #F5F5F5;
  border-width: 2px;
  border-radius: 0.375em;
  height: 3.5em;
  width: 95%;
  padding-left: 15px;

}

input::placeholder {
  font-size: 16px;
}

table * {
  border: none !important
}

.light-theme {
  background-color: white;
 
  
}


.dark-theme {
  background-color: #363636;

}