@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  background-color: white;
  box-sizing: border-box;
}

input {
  border-style: solid;
  border-color: #B5B5B5;
  border-width: 2px;
  border-radius: 0.375em;
  width: 100%;
  height: 2.5em;
 
}
